/**
 * App colors
 */

$primary = #00d8bb

$color = #1a102f
$light = #a4a6b4
$inverse = #ffffff

// Cards
$color-1 = #f87366
$color-2 = #635ccc
$color-3 = #51d2d3
$color-4 = #d57cdf

// Gradients
$primary-gradient = linear-gradient(60deg, darken($primary, 15%), $primary)
