.ripple-button
  position relative
  overflow hidden

  > .ripple
    padding-bottom 240%
    width 240%
    border-radius 100%
    animation .6s ripple linear forwards
    position absolute

  *
    pointer-events none

@keyframes ripple
  0%
    opacity .5
    transform scale(0)
  80%
    opacity 1
    transform scale(1)
  100%
    opacity 0
